<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_users.each do |api_v1_user| %>
      <tr>
        <td><%= api_v1_user.user %></td>
        <td><%= api_v1_user.name %></td>
        <td><%= api_v1_user.last_name %></td>
        <td><%= api_v1_user.email %></td>
        <td><%= api_v1_user.company %></td>
        <td><%= api_v1_user.phone %></td>
        <td><%= api_v1_user.latitude %></td>
        <td><%= api_v1_user.longitude %></td>
        <td><%= link_to 'Show', api_v1_user %></td>
        <td><%= link_to 'Edit', edit_api_v1_user_path(api_v1_user) %></td>
        <td><%= link_to 'Destroy', api_v1_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_api_v1_user_path %>
