<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @api_v1_user.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @api_v1_user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @api_v1_user.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @api_v1_user.company %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @api_v1_user.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @api_v1_user.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @api_v1_user.longitude %>
</p>

<%= link_to 'Edit', edit_api_v1_user_path(@api_v1_user) %> |
<%= link_to 'Back', api_v1_users_path %>
