<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in" %></div>
<% end %>
<div class="links-container" id="register_social">

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to image_tag("#{provider.to_s}.png"), omniauth_authorize_path(resource_name, provider) %><br>
    <% end -%>
  <% end -%>

  <%- if controller_name != 'sessions' %>
    <%= link_to "Inicia sesión", new_session_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Regístrate", new_registration_path(resource_name) %>
  <% end -%>
  <br>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %>
  <% end -%>


<%= render "devise/shared/links" %>
